# Python compiled files
*.pyc
*.pyo
*$py.class
__pycache__/

# Virtual environment
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local SQLite DBs
# - local database used during development
# - test database created by pytest/conftest
*.db
test_open_trip.db
local_open_trip.db
local_travel.db

